snippet dnf "Dnote full template"
# $1

$4

\`\`\`$2
$3
\`\`\`

[Source]($5)
endsnippet

snippet dnns "Dnote no source"
# $1

$4

\`\`\`$2
$3
\`\`\`
endsnippet

snippet dnnc "Dnote no code"
# $1

$2

[Source]($3)
endsnippet

snippet dnjs "Dnote just text"
# $1

$2
endsnippet
